on: [ push ]
jobs:
  build:
    name: Check Commit
    runs-on: ubuntu-latest
    steps:
      - name: Verify commit message
        id: verify_commit_message
        run: |
          if [[ ! "${{ github.event.head_commit.message }}" =~ ^(feat:)|(fix:)|(docs:).* ]]; then 
            exit 1
          fi
